body {
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

canvas {
  display: block;
  background: #000; /* ÎáİíÉ ÏÇßäÉ ááÚÈÉ */
  border: 1px solid #fff; /* ÍÏ ÃÈíÖ Íæá ÇáÚäÕÑ canvas */
}
